/* GERAL */
body,
html,
div,
span,
a,
ul,
li,
dl,
dt,
dd,
section,
header,
p,
form,
fieldset,
button,
input {
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-decoration: none;
  outline: none;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure,
a,
img,
span,
:after,
:before {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal !important;
  margin: 0;
}
html object {
  display: none;
}
body {
  font-size: 100%;
}
body * {
  font-family: 'Open Sans', sans-serif !important;
}
/*******************************
            GLOBAL
*******************************/
/*#f8f8f8;*/
.f-times {
  font-family: 'Times New Roman';
}
.f-bembo {
  font-family: 'BemboStd';
}
.f-bembo-semibold {
  font-family: 'BemboSemibold';
}
.f-weight-book {
  font-family: 'ArquitectaBook';
}
.f-weight-light {
  font-family: 'ArquitectaLight';
}
.f-weight-regular {
  font-family: 'Arquitecta';
}
.f-weight-bold {
  font-family: 'ArquitectaBold';
  font-weight: normal;
}
.lnks {
  color: #777777;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.lnks.active,
.lnks:hover {
  color: #205e53 !important;
}
.lnks:active {
  color: #f47920 !important;
}
.d-l-middle {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
.d-l-top {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.transit {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
form input,
form textarea,
form select {
  border: 1px solid #CCC;
  padding: 0.8em;
  border-radius: 5px;
  box-sizing: border-box;
}
form .access_extract:hover,
form .btn-clear:hover,
form .btn-send:hover {
  color: #205e53 !important;
}
form.f_extract {
  text-align: center;
}
form.f_extract label,
form.f_extract legend {
  display: none;
}
form.f_extract fieldset {
  text-align: center;
}
form.f_extract input[type=text],
form.f_extract input[type=password] {
  width: 33%;
  display: block;
  margin: 20px auto;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
form.f_extract input[type=submit] {
  background: none;
  cursor: pointer;
}
form.f_extract .access_extract {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  margin: -1px 0 0 4px !important;
}
form.f_extract .forgot {
  font-size: 13px;
  color: #205e53;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  padding-right: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 10px;
}
form.f_extract .forgot:hover {
  color: #f47920;
}
form.f_contact {
  text-align: center;
}
form.f_contact label,
form.f_contact legend {
  display: none;
}
form.f_contact fieldset {
  text-align: center;
}
form.f_contact input[type=text] {
  width: 44%;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  margin: 0 0 15px 12px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
form.f_contact textarea {
  width: 91%;
  margin-right: -13px;
  min-height: 165px;
}
form.f_contact input[type=submit],
form.f_contact input[type=reset],
main.internal section.form_signin form.f_signin fieldset input[type=submit],
main.internal section.form_signin form.f_signin fieldset input[type=reset] {
  background: none;
  cursor: pointer;
  margin: 21px 11px;
}
form.f_contact .access_extract {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  margin: -1px 0 0 4px !important;
}
form.f_contact .forgot {
  font-size: 13px;
  color: #205e53;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  padding-right: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 10px;
}
form.f_contact .forgot:hover {
  color: #f47920;
}
/*******************************
            MAIN
*******************************/
main {
  max-width: 1170px;
  margin: 0 auto;
  /* INTERNALS */
}
main header {
  padding: 15px;
}
main header * {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
main header h1 {
  margin-right: 362px;
}
main header nav > a {
  display: none !important;
}
main header nav ul > li {
  /*cursor: pointer;*/
}
main header nav ul > li a {
  color: #777777;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 0 5px;
  margin: 0 20px;
  vertical-align: top;
  /*min-width: 115px;*/
}
main header nav ul > li a.active,
main header nav ul > li a:hover {
  color: #205e53 !important;
}
main header nav ul > li a:active {
  color: #f47920 !important;
}
main header nav ul > li:hover a {
  color: #205e53 !important;
}
main header nav ul > li:hover ul {
  display: block;
  opacity: 1;
  height: 95px;
  overflow: hidden;
}
main header nav ul > li ul {
  position: absolute;
  z-index: 9;
  background: #fff;
  padding: 10px 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main header nav ul > li ul li {
  margin: 5px 0;
}
main header nav ul > li ul li a {
  font-size: 13px;
  min-width: initial;
}
main header nav ul > li ul li a:hover {
  color: #f47920 !important;
}
main section.carrossel dl {
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main section.carrossel dl.to-left dt {
  left: 5.5%;
  right: initial;
  width: 60%;
}
main section.carrossel dl.to-right dt {
  right: 5.5%;
  left: initial;
  width: 60%;
}
main section.carrossel dl.to-center dt {
  width: 60%;
  left: 20%;
  right: 20%;
}
main section.carrossel dl dt {
  position: absolute;
  top: 32%;
  left: 0;
  z-index: 9;
  width: 100%;
  line-height: 50px;
}
main section.carrossel dl dt h2 {
  color: #205e53;
  text-transform: uppercase;
  font-size: 2.45em;
  line-height: 1.3em;
  text-align: center;
}
main section.carrossel dl dt h2 em {
  font-style: normal;
  color: #898989;
  display: block;
}
main section.carrossel dl dt h2:after,
main.internal section.videoinfo a,
form .access_extract,
form .btn-clear,
form .btn-send,
form .access_extract:hover,
form .btn-clear:hover,
form .btn-send:hover {
  content: 'SAIBA MAIS';
  color: #f47920;
  font-size: 22px;
  text-align: center;
  width: 162px;
  border: 1px solid #898989;
  border-radius: 6px;
  display: block;
  margin: 25px auto 0;
  padding: 3px 0;
}
main section.carrossel dl dd img {
  width: 100%;
}
main section.highlights {
  margin: 20px 0;
}
main section.highlights dl {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  width: 25%;
  box-sizing: border-box;
  padding: 15px;
}
main section.highlights dl:before {
  content: '';
  display: block;
  width: 75px;
  height: 75px;
  background: url('../images/sprite.png') 0 0 no-repeat;
  margin: 0 auto;
}
main section.highlights dl.hl-01:before {
  background-position: 0px 0px;
}
main section.highlights dl.hl-02:before {
  background-position: -93px 0px;
  width: 82px;
}
main section.highlights dl.hl-03:before {
  background-position: -206px 0px;
  width: 86px;
}
main section.highlights dl.hl-04:before {
  background-position: -322px 0px;
  width: 63px;
}
main section.highlights dl dt h3 {
  text-transform: uppercase;
  color: #205e53;
  font-size: 15px;
  text-align: center;
  padding: 15px 0;
}
main section.highlights dl dd p {
  font-size: 13px;
  color: #898989;
}
main section.videoinfo {
  box-sizing: border-box;
  background: #f8f8f8;
  padding: 20px;
}
main section.videoinfo video {
  background: #000;
  width: 47%;
  height: 320px;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
main section.videoinfo iframe {
  width: 47%;
  height: 320px;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main section.videoinfo aside {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  width: 52%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main section.videoinfo aside h4 {
  color: #205e53;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 20px;
}
main section.videoinfo aside p {
  color: #898989;
  font-size: 16px;
  padding-right: 5%;
}
main footer {
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #f8f8f8;
}
main footer h6 {
  color: #898989;
  font-size: 12px;
}
main.internal .breadcrumb {
  background: #f8f8f8;
  margin-bottom: 20px;
  padding: 1em;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.internal .breadcrumb h2,
main.internal .breadcrumb ul {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  width: 49%;
}
main.internal .breadcrumb h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #898989;
}
main.internal .breadcrumb ul {
  text-align: right;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.internal .breadcrumb ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  margin-top: 2px;
  padding: 0 2px;
  font-size: 12px;
}
main.internal .breadcrumb ul li > span {
  color: #f47920;
}
main.internal .breadcrumb ul li a {
  color: #898989;
}
main.internal .breadcrumb ul li a span {
  /*.d-l-middle;*/
}
main.internal .breadcrumb ul li a:after {
  /*content: '»'; .d-l-middle; padding:0 0 0 7px; font-size: 20px;*/
}
main.internal section {
  /* SUA EMPRESA */
  /* DIFERENCIAIS */
  /* QUEM SOMOS */
  /* NOSSOS CLIENTES */
  /* CONTATO */
  /* CADASTRE-SE: ; */
}
main.internal section.videoinfo {
  background: none;
}
main.internal section.videoinfo p {
  font-size: 13px;
  padding-bottom: 10px;
}
main.internal section.videoinfo a,
form .access_extract,
form .btn-clear,
form .btn-send,
form .access_extract:hover,
form .btn-clear:hover,
form .btn-send:hover {
  text-transform: uppercase;
  font-size: 18px;
  width: auto;
  padding: 9px;
  display: inline-block;
  margin-top: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.internal section.videoinfo a:hover {
  color: #205e53;
}
main.internal section.highlights.company,
main.internal section.highlights.diferencials,
main.internal section.highlights.whoweare {
  background: #f8f8f8;
  text-align: center;
}
main.internal section.highlights.company dl,
main.internal section.highlights.diferencials dl,
main.internal section.highlights.whoweare dl {
  width: 33.3%;
  padding: 25px;
  text-align: left;
}
main.internal section.highlights.company dl:before {
  height: 52px;
}
main.internal section.highlights.company dl.hl-01:before {
  background-position: -182px -84px;
  width: 46px;
}
main.internal section.highlights.company dl.hl-02:before {
  background-position: -245px -84px;
  width: 47px;
}
main.internal section.highlights.company dl.hl-03:before {
  background-position: -306px -84px;
  width: 54px;
}
main.internal section.highlights.company dl dd p {
  padding-bottom: 5px;
}
main.internal section.highlights.company dl dd p i {
  color: #205e53;
}
main.internal section.highlights.diferencials dl:before {
  height: 52px;
}
main.internal section.highlights.diferencials dl.hl-01:before {
  background-position: 0 -84px;
  width: 34px;
}
main.internal section.highlights.diferencials dl.hl-02:before {
  background-position: -55px -84px;
  width: 40px;
}
main.internal section.highlights.diferencials dl.hl-03:before {
  background-position: -114px -84px;
  width: 48px;
}
main.internal section.highlights.whoweare dl:before {
  display: none;
}
main.internal section.clients_list {
  padding: 20px;
}
main.internal section.clients_list h5 {
  font-size: 20px;
  text-align: center;
  color: #898989;
  padding-bottom: 30px;
}
main.internal section.clients_list ul {
  text-align: center;
}
main.internal section.clients_list ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  padding: 15px;
  border: 1px solid #f8f8f8;
  margin: 0 8px 16px;
}
main.internal section.form_contact {
  padding: 20px;
}
main.internal section.form_contact aside,
main.internal section.form_contact form {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  font-size: 13px;
  color: #898989;
}
main.internal section.form_contact aside p,
main.internal section.form_contact form p {
  padding-bottom: 10px;
}
main.internal section.form_contact aside p strong,
main.internal section.form_contact form p strong {
  color: #205e53;
  font-weight: normal;
}
main.internal section.form_contact aside p a,
main.internal section.form_contact form p a {
  color: #205e53;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.internal section.form_contact aside p a:hover,
main.internal section.form_contact form p a:hover {
  color: #f47920;
}
main.internal section.form_contact aside ul li,
main.internal section.form_contact form ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  margin: 0 10px 0 0;
}
main.internal section.form_contact aside ul li a,
main.internal section.form_contact form ul li a {
  font-size: 26px !important;
  color: #777777;
}
main.internal section.form_contact aside ul li a span,
main.internal section.form_contact form ul li a span {
  display: none;
}
main.internal section.form_signin form.f_signin fieldset {
  padding: 0 15px;
}
main.internal section.form_signin form.f_signin fieldset legend {
  font-size: 24px;
  font-weight: 600;
  margin-left: -2px;
  color: #205e53;
}
main.internal section.form_signin form.f_signin fieldset h3 {
  font-size: 21px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin: 15px 0 35px;
}
main.internal section.form_signin form.f_signin fieldset div {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  font-size: 14px;
  color: #777777;
  position: relative;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.internal section.form_signin form.f_signin fieldset div.break {
  display: block;
}
main.internal section.form_signin form.f_signin fieldset div.break.btns {
  text-align: center;
  width: 100%;
}
main.internal section.form_signin form.f_signin fieldset div label {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  min-width: 40%;
  text-align: right;
  padding-right: 15px;
  box-sizing: border-box;
}
main.internal section.form_signin form.f_signin fieldset div input[type=text],
main.internal section.form_signin form.f_signin fieldset div input[type=password],
main.internal section.form_signin form.f_signin fieldset div select {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  min-width: 60%;
}
main.internal section.form_signin form.f_signin fieldset div input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  margin: 0 5px 0 10px;
}
main.internal section.form_signin form.f_signin fieldset div em {
  font-size: 9px;
  font-style: normal;
  position: absolute;
  left: 30%;
  width: 60%;
  top: -17px;
  text-align: center;
}
/*******************************
          RESPONSIVE
*******************************/
@media screen and (max-width: 1170px) {
  body {
    overflow-x: hidden;
  }
  main {
    width: 100%;
  }
  main header h1 {
    margin-right: 0;
  }
  main header nav {
    float: right;
    margin: 10px 14px;
  }
  main header nav:after {
    content: '';
    background: #898989;
    opacity: .5;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 8;
    opacity: 0;
    width: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  main header nav > a {
    display: block !important;
    float: right;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 10px 14px;
    background: #fff;
    z-index: 9;
  }
  main header nav > a:before {
    font-size: 2.2em;
    text-align: center;
    color: #205e53;
  }
  main header nav > a span {
    display: none;
  }
  main header nav > ul {
    position: absolute;
    top: 100px;
    right: 4px;
    z-index: 9;
    display: block;
    width: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  main header nav > ul > li {
    display: block;
    background: #f8f8f8;
  }
  main header nav > ul > li ul {
    position: relative;
    opacity: 1;
    height: auto;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  main header nav > ul > li ul li {
    line-height: 16px;
    margin: 0 -4px;
  }
  main header nav > ul > li a {
    line-height: 16px;
    padding: 15px 0;
  }
  main header nav.active:after {
    opacity: .5;
    width: 100%;
  }
  main header nav.active > a:before {
    content: "\f00d";
  }
  main header nav.active > ul {
    width: 100%;
    opacity: 1;
  }
  main.internal section {
    padding: 0 20px;
  }
}
@media screen and (max-width: 990px) {
  main section.carrossel dl {
    font-size: 80%;
  }
}
@media screen and (max-width: 768px) {
  main section.highlights dl {
    width: 50%;
  }
  main section.videoinfo iframe,
  main section.videoinfo aside {
    width: 100%;
  }
  main section.videoinfo aside {
    padding: 15px 0 0;
  }
  main.internal .breadcrumb {
    position: relative;
    margin-bottom: 42px;
  }
  main.internal .breadcrumb ul {
    width: 100%;
    position: absolute;
    bottom: -32px;
    left: 0;
    text-align: center;
  }
  main.internal section.highlights.company dl,
  main.internal section.highlights.diferencials dl,
  main.internal section.highlights.whoweare dl {
    width: 100%;
  }
  main.internal section.form_contact aside,
  main.internal section.form_contact form {
    width: 100%;
  }
  main.internal section.form_contact form {
    padding-top: 40px;
  }
}
@media screen and (max-width: 690px) {
  main section.carrossel dl {
    font-size: 60%;
  }
  main section.carrossel dl dt {
    top: 25%;
  }
  main.internal section.form_signin form.f_signin fieldset div {
    width: 100%;
    padding-bottom: 18px;
  }
  main form.f_extract input[type=text],
  main form.f_extract input[type=password] {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  main.internal section.form_signin form.f_signin fieldset div label {
    display: block;
    text-align: left;
  }
  main.internal section.form_signin form.f_signin fieldset div em {
    position: relative;
    display: block;
    top: initial;
    left: initial;
    text-align: left;
  }
  main.internal section.form_signin form.f_signin fieldset div input[type=text],
  main.internal section.form_signin form.f_signin fieldset div input[type=password],
  main.internal section.form_signin form.f_signin fieldset div select {
    width: 100%;
  }
  main section.videoinfo iframe {
    height: 185px;
  }
  form.f_contact input[type=text],
  form.f_contact textarea {
    width: 100%;
    margin: 0 0 15px;
  }
}
@media screen and (max-width: 325px) {
  main section.highlights dl {
    width: 100%;
  }
  main section.highlights dl:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
  }
  main section.highlights dl dt {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    padding-left: 15px;
    width: 76%;
  }
  main section.highlights dl dd {
    padding: 15px 0;
  }
}
